* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: sans-serif;
font-size: 15px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;

}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
}
.phone img {
    height: 50rem;
}

.continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-top: 30px;
}

.group:nth-child(1) {
    min-width: 19rem;

}

.instagram-logo{
    height: 6rem;
    
}

.perfil{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.perfil img{
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
    height: 14rem;
    
}

.login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 15px;
}

.logout {
    color: #0095f6;
    margin: 15px;
}

.not-account {
    color: rgb(160, 160, 160);
}
.link-blue{
    color: #0095f6;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.stores{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
background-image: url(imagem/logo-app-store-01.png);
}
.app-download:nth-child(2){
    background-image: url(imagem/disponivel-google-play-badge-2.png);
}

@media (max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media(max-width: 650px) {
    body{
        background-color: white;
    }

    .instagram-wrapper {
        width: 90%;
    }
    .phone {
        display: none;
    }
    .continue{
        width: 100%;
    }
    .group{
        border: 1px solid transparent;
    }
}
